<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<%= link_to "New user", new_user_path %>
<br>
<table border="1" cellspacing="0" cellpadding="8" style="border-collapse: collapse; width: 100%">
    <thead>
        <tr style="background-color: #f5f5f5;">
            <th>Name</th>
            <th>Email</th>
            <th>Team</th>
            <th>Role</th>
            <th>Create At</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody id="users">
        <% @users.each do |user| %>
            <%= render partial: "item", locals: { user: user } %>
        <% end %>
    </tbody>
</table>
