<p style="color: green"><%= notice %></p>

<h1>Roles</h1>

<table border="1" cellspacing="0" cellpadding="8" style="border-collapse: collapse; width: 100%">
    <thead>
        <tr style="background-color: #f5f5f5">
            <th>Name</th>
            <th>Description</th>
            <th>Create At</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody id="roles">
        <% if @roles.any? %>
            <% @roles.each do |role| %>
                <%= render partial: "item", locals: { role: role } %>
            <% end %>
        <% else %>
            <tr>
                <td colspan="100%" class="text-center">No data</td>
            </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to "New role", new_admin_role_path %>
