<div class="d-flex align-items-center justify-content-between mb-3">
    <h2>Roles</h2>
    <%= link_to "New role", new_admin_role_path, class: "btn btn-primary" %>
</div>

<hr>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Create At</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody id="roles">
        <% if @roles.any? %>
            <% @roles.each do |role| %>
                <%= render partial: "item", locals: { role: role } %>
            <% end %>
        <% else %>
            <tr>
                <td colspan="100%" class="text-center">No data</td>
            </tr>
        <% end %>
    </tbody>
</table>
