<%= render "form_edit", user: @user %>

<br>

<div class="mb-3">
    <%= link_to admin_users_path, class: "btn btn-secondary" do %>
        <i class="fas fa-arrow-left me-1"></i>
        Back
    <% end %>
</div>
