<p style="color: green"><%= notice %></p>

<div class="d-flex align-items-center justify-content-between mb-3">
    <h2>Teams</h2>
    <%= link_to "New Team", new_admin_team_path, class: "btn btn-primary" %>
</div>

<hr>

<table class="table table-striped">    
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Create At</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody id="teams">
        <% if @teams.any? %>
            <% @teams.each do |team| %>
                <%= render partial: "item", locals: { team: team } %>
            <% end %>
        <% else %>
            <tr>
                <td colspan="100%" class="text-center">No data</td>
            </tr>
        <% end %>
    </tbody>
</table>
