<p style="color: green"><%= notice %></p>

<h1>Teams</h1>

<table border="1" cellspacing="0" cellpadding="8" style="border-collapse: collapse; width: 100%">
    <thead>
        <tr style="background-color: #f5f5f5">
            <th>Name</th>
            <th>Description</th>
            <th>Create At</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody id="teams">
        <% if @teams.any? %>
            <% @teams.each do |team| %>
                <%= render partial: "item", locals: { team: team } %>
            <% end %>
        <% else %>
            <tr>
                <td colspan="100%">No data</td>
            </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to "New team", new_admin_team_path %>
